@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
	font-family: "Poppins", sans-serif;
	align-items: center;
	justify-content: center;
}

#colgrad {
	background-image: linear-gradient(to bottom right, #7cde87, #4b47ff);
}

.btn {
	/* background-color: #ffff;
	border-radius: 20px;
	border-width: 4px;
	border-image: linear-gradient(to bottom right, #7cde87, #4b47ff) 1;
	height: 48px;
	width: 400px; */
	width: 300px;
	border-radius: 20px; /*1*/
	border: 4px solid transparent; /*2*/
	background: linear-gradient(to bottom right, #7cde87, #4b47ff) border-box; /*3*/
	-webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out; /*5'*/
	mask-composite: exclude; /*5*/
}

#logo {
	margin-top: 76px;
}

#loginheading {
	margin-top: 50px;
}

#formemail {
	margin-top: 50px;
	border: 1px, #1c4b32;
	border-radius: 20px;
}

#formpassword {
	margin-top: 23px;
	border: 1px, #1c4b32;
	border-radius: 20px;
}

#btnlogin {
	margin-top: 53px;
	margin-bottom: 7px;
}

#forgetpass {
	margin-top: 92px;
}

#signup {
	margin-top: 66px;
}
